@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

*{
    box-sizing: border-box;
}


header {
    background: hsl(348deg 56% 19%);
    color: wheat;
    display: flex!important;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px!important;
    height: 80px;
    font-family: 'Cormorant', serif;
}

body {
    margin: 0;
    background: wheat!important;
    height: 100vh;
}

#header-logo {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 60px;
}

#header-title {
    margin: 0;
    font-weight: 300;
}

.icon {
    fill: wheat;
    width: 80%;
    position: relative;
}

.icon-login{
    fill: hsl(348deg 56% 19%);
}

.container {
    width: 200px;
    min-width: 200px;
    background-color: hsl(348deg 56% 19%);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    color: wheat;
    font-size: 22px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0.375rem;
    transition: all 300ms;
}

article {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 4rem;
}

#wrap-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    background: hsl(348deg 56% 19%);
    margin-bottom: 0!important;
    padding: 5rem;
    border-radius: 0.375rem!important;
}

.table-responsive{
    padding: 30px!important;
}

.custom-table tbody td {
    color: wheat!important;
    opacity: 80%;
}

a{
    text-decoration: none!important;
    color: wheat!important;
}

main{
    color: hsl(348deg 56% 19%);
}

.btn{
    background-color: hsl(348deg 56% 19%);
    border: hsl(348deg 56% 5%);
}

.btn:hover{
    background-color: hsl(348deg 56% 30%);
}

.h3{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    border-color: rgba(76, 21, 32, .3);
}

.container:hover{
    background-color: hsl(348deg 56% 30%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.table tr:hover{
    background-color: hsl(348deg 56% 30%);
}